<!DOCTYPE html>
  <head>
  </head>
  <body>
    <p>Hello world from hello!</p>

  </body>
</html>
<%= 1 + 1 %>
<% target = "world" %>
<%= "Hello #{target}" %>

<br />

<% @array.each do |n| %>
  <%= n %> <br />
<% end %>

<br />

<%= link_to('Index page', {:action => 'index'}) %> <br />

<br />

ID: <%= @id %> <br />
ID: <%= params[:id] %> <br />
Page: <%= @page %> <br />
Next page: <%= @page.to_i + 1 %> <br /> 
